.item_movie .img_movie{
    height: 314px;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
}
.img_movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s linear;
}
.img_movie .play_trailer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top,#000,transparent 100%);
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;
}
.play_trailer button {
    padding: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}
.play_trailer svg {
    font-size: 30px;
    color: #fff;
}
.play_trailer button:hover {
    opacity: .7;
}

.item_movie .detail {
    margin-top: 10px;
    min-height: 90px;
    position: relative;
}
.title,
.desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    visibility: visible;
}
.item_movie .title {
    font-size: 18px;
    min-height: 50px;
    line-height: 24px;
}
.item_movie .desc {
    font-size: 14px;
    color: #757575;
    line-height: 18px;
}
.btn_book {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fb4226;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 8px;
    opacity: 0;
    text-align: center;
    transition: all .3s linear;
    visibility: hidden;
}
.item_movie:hover .title,
.item_movie:hover .desc {
    visibility: hidden;
    opacity: 0;
}
.item_movie:hover .play_trailer,
.item_movie:hover .btn_book {
    visibility: visible;
    opacity: 1;
}
.item_movie:hover img {
    transform: scale(1.1);
}
.item_movie:hover .play_trailer {
    transform: scale(1.1);
}
.btn_book:hover {
    background-color: #bb3824;
}

@media (max-width: 639px){
    .container {
        max-width: 100%;
        padding: 0 36px;
    }
    .item_movie {
        display: flex;
    }
    .item_movie .img_movie {
        width: 33.33333%;
        height: 180px;
    }
    .item_movie .detail {
        width: 66.66666%;
        padding-left: 16px;
    }
    .btn_book {
        position: relative;
        visibility: visible;
        opacity: 1;
        margin-top: 16px;
    }
    .item_movie:hover .title,
    .item_movie:hover .desc {
    visibility: visible;
    opacity: 1;
}
}