.description-detail {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.play_trailer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top,#000,transparent 100%);
    transition: all .3s linear;
    opacity: 0;
    visibility: hidden;
}
.play_trailer button {
    padding: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}
.play_trailer svg {
    font-size: 30px;
    color: #fff;
}
.play_trailer button:hover {
    opacity: .7;
}
.detail_img:hover .play_trailer {
    visibility: visible;
    opacity: 1;
}